*{
    margin:0%;
    padding:0%;

}
body{
   
    background-color: #548687;
    text-align: center;
 
}
.container{
    height:70vh;
   
    display: flex;
    align-items: center;
    justify-content: center;

}
    
    

.game{
    
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.box{
    width:18vmin;
    height:18vmin;
    border-radius: 20px;
    font-size: 25px;
    color: brown;
    background-color: #ffffc7;
}
#reset{
    height:35px;
    background-color: bisque;
    color: blueviolet;
}
#new{
    background-color: black;
    color: white;
    height: 35px;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#msg{
    font-size: 30px;
    color: #ffffc7;
}
.hide{
    display: none;
}
